@{
    var human2 = ViewData["IndexHumanControllerData"] as IEnumerable<Human>;

}
<center>
    <h1>Please verify result of opetaion:</h1>
    <br />
    <table border="1" cellpadding="5" style="box-shadow: 0 0 4px 2px black">
        <tr bgcolor="gray" style="font-weight: bold"><td>Id</td><td>First Name</td><td>Last Name</td><td>Age</td><td>Is he sick?</td><td>Gender</td><td>Country</td></tr>
        @{ foreach (var t in human2)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.FirstName</td>
                    <td>@t.LastName</td>
                    <td>@t.Age</td>
                    <td>@t.IsSick</td>
                    <td>@t.Gender</td>
                    <td>@t.Country.Name</td>
                </tr>
            }
        }



    </table>
</center>
