
@model List<HumanIndexViewModel>

    <center>
<p style="font-weight: bold">Humans:</p>
<table border="1" cellpadding="5" style="box-shadow: 0 0 4px 2px black">
    <tr bgcolor="gray" style="font-weight: bold"><td>Id</td><td>First Name</td><td>Last Name</td><td>Age</td><td>Is he sick?</td><td>Gender</td><td>Country</td></tr>
    @{ 

      


        foreach (var t in Model)
        {
            <tr>
                <td>@t.Human.Id</td>
                <td>@t.Human.FirstName</td>
                <td>@t.Human.LastName</td>
                <td>@t.Human.Age</td>
                <td>@t.Human.IsSick</td>
                <td>@t.Human.Gender</td>
                <td>@t.Human.Country.Name</td>
            </tr>
        }
    }



</table>
    </center>

