@using DOT_Net_Core.Controllers;

@model List<NewsViewModel>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>





        @section News{
                <center>
                            <table border="1" cellpadding="5" style="box-shadow: 0px 0px 2px 2px gray">
                                        <tr bgcolor="gray" style="font-weight: bold">
                                            <td>Id</td>
                                            <td>Title</td>
                                            <td>Text</td>
                                            <td>Fake?</td>
                                            <td>Author first name</td>
                                            <td>Author last name</td>
                                        </tr>
                                
                                @foreach (var news in Model) 
                                {
                                    //приведение ViewData снова к коллекции данных
                                    
                                    
                                    //генерация строк
                            <tr>
                                <td>@news.News.Id</td>
                                <td>@news.News.Title</td>

                                <td>@news.News.Text</td>
                                <td>@news.News.IsFake</td>
                                <td>@news.News.Human.FirstName</td>
                                <td><a asp-controller="Human" asp-action="Authors" asp-route-humanId="@news.News.AuthorId">@news.News.Human.LastName</a></td>

                            </tr>
                                }
                                

                            </table>
                </center>
        }
    
    </div>
