@using DOT_Net_Core.Controllers;

@{
    ViewData["Title"] = "News home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>





        @section News{
                <center>
                            <table border="1" cellpadding="5" style="box-shadow: 0px 0px 2px 2px gray">
                                        <tr bgcolor="gray" style="font-weight: bold">
                                            <td>Id</td>
                                            <td>Title</td>
                                            <td>Text</td>
                                            <td>Fake?</td>
                                            <td>Author first name</td>
                                            <td>Author last name</td>
                                        </tr>
                                
                                @for (int i = 0; i < (ViewData["News"] as List<News>).Count; i++)
                                {
                                    //приведение ViewData снова к коллекции данных
                                    List<News> news = ViewData["News"] as List<News>;
                                    
                                    //генерация строк
                            <tr>
                                <td>@news[i].Id</td>
                                <td>@news[i].Title</td>

                                <td>@news[i].Text</td>
                                <td>@news[i].IsFake</td>
                                <td>@news[i].Human.FirstName</td>
                                <td><a asp-controller="Human" asp-action="Index" asp-route-humanId="@news[i].Id">@news[i].Human.LastName</a></td>

                            </tr>
                                }
                                

                            </table>
                </center>
        }
    
    </div>
