@using DOT_Net_Core.Controllers;

@model News

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>





    @{
        <center>
            <table border="1" cellpadding="5" style="box-shadow: 0px 0px 2px 2px gray">
                <tr bgcolor="gray" style="font-weight: bold">
                    <td>Id</td>
                    <td>Title</td>
                    <td>Text</td>
                    <td>Fake?</td>
                    <td>Author first name</td>
                    <td>Author last name</td>
                </tr>
                <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Title</td>

                        <td>@Model.Text</td>
                        <td>@Model.IsFake</td>
                        <td>@Model.Human.FirstName</td>
                        <td>@Model.Human.LastName</td>

                    </tr>
               


            </table>
        </center>
    }

</div>
